{{template "adminHeader.html" . }}

<div class="container">
    <h1>Create Product</h1>
    <form action="/admin/product/create" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ .Data.Token }}">
        
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Name">
        </div>
        
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" name="price" id="price" class="form-control" placeholder="Price">
        </div>
        
        <div class="form-group">
            <label for="sale_price">Sale Price:</label>
            <input type="text" name="sale_price" id="sale_price" class="form-control" placeholder="Sale Price">
        </div>
        
        <div class="form-group">
            <label for="category_id">Category:</label>
            <select name="category_id" id="category_id" class="form-control">
                {{ range $index, $category := .Categories }}
                <option value="{{$category.ID}}">{{$category.Name}}</option>
                {{end}}
            </select>
        </div>
        
        <div class="form-group">
            <label for="image">Image:</label>
            <input type="file" name="image" id="image" class="form-control-file">
        </div>
        
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Description">
        </div>
        
        <button type="submit" class="btn btn-primary">Create Product</button>
    </form>
</div>

{{template "adminFooter.html" . }}
