{{template "adminHeader.html" . }}


<div class="container-fluid">

    <!-- Page Heading -->

                   <!-- DataTales Example -->
                   <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Products</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                    
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Tax</th>
                                        <th>SalePrice</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range $index, $product := .Data.Products }}
                                    <tr>
                                        <td>{{$product.ID}}</td>
                                        <td>{{$product.Name}} </td>
                                        <td>{{$product.Category.Name}}</td>
                                        <td>${{$product.Price}}</td>
                                        <td>{{$product.Tax}}</td>
                                        <td>{{$product.SalePrice}}</td>
                                        <td> <img src="{{$product.Image}}" alt="" srcset=""> </td>
                                        <td>
                                            <a href="/admin/product/update/{{ $product.ID }}" class="btn btn-primary">Edit</a>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            
                        </div>
                    </div></div></div>
</div>
                    </div></div></div>
<!-- /.container-fluid -->

{{template "adminFooter.html" . }}  